* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
.header {
  width: 100vw;
}
.bg-light {
  background-color: #1b232a !important;
}
.navbar {
  font-family: "Mina", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.navbar-brand {
  display: flex;
  justify-content: center;
  text-align: center;
}

/*latest*/
.latest {
  margin-top: 90px !important;
  background: linear-gradient(
    181.1deg,
    #1b232a 0.94%,
    #2e5373 229.57%,
    #51aeff 664.01%
  );
  border-radius: 23px;
  display: flex;
  color: white;
}
.latest .row{
    height: 25rem;
    width: 100%;
}
.image,.content{
    width: 50%;

    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}
.image img{
    width: 80%;
    height: 75%;
}
.image{
    align-items: center;
}
.content{
    margin-right: auto;
}

.older {
  margin-top: 20px;
  background: #1b232a;
  border-radius: 23px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  text-align: start;
}
.older img{
    height: 10rem;
    width: 10rem;
}
.old-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.old-content{
    width: 100%;
    margin-left: 10%;
    margin-top: 10px;
}

